.businesses {

  display: flex;
  flex-wrap: wrap;
  align-content: center;

  justify-content: space-evenly;
  width: auto;
  height: auto;
  flex-basis: 25%;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  

}

.business {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
  
    
   
}

.business__requests{
 display: flex;
text-align: center;
align-content: center;
width: auto;
height: auto;
/* background-color: pink; */
margin: 10px;
padding: 10px;
border: 4px solid  goldenrod;
color: purple;
  background-color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.business__item {
  
  
  text-align: center;
  color: purple;
  border: 4px solid  goldenrod;
    background-color:white;
    padding: 20px;
    font-size: 30px;
    width: 100%;
    margin: 1rem;
    align-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.businessHeader {  
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
}

.business__link {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}