.navbar:before {
    display: flex;
    flex-wrap: nowrap;
    background-color: pink;
    justify-content: left;
    padding: 2rem;
    margin: 10px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.88);
    content: "";
    size: 100%;
    background: url("./boy.gif") no-repeat;
    transition-duration: .7s;
    transform: scale(1.1);
    transition: transform 3s ease;
    background-size: 100%;
    height: 100%;
    background-position: center -275px;
    overflow: hidden;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

img {

    width:140px;
    height: 140px;
    opacity: 0.8;


}
.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-decoration: none;
    color: black;



}

.navbar__link {
    display:flex;
    text-decoration: none;
    color:black;
    text-align: center;
    justify-content: space-evenly;
    padding: .5rem;
    font-family: Optima;
    font-size: 20px;


}

.navbar__link:hover {
    background-color: goldenrod;
    padding: .5rem;
}

.navbar__item:first-child > .navbar__link {
    font-weight: bold !important;
    
}

.navbar__item:last-child > .navbar__link {
    font-weight: bold;
    background-color: goldenrod;
    
}

.navbar__item:last-child > .navbar__link:hover {
    font-weight: bold;
    background-color:black;
    
}